Source: cyphertite
Priority: optional
Maintainer: Conformal Systems LLC <package-discuss@conformal.com>
Build-Depends: debhelper (>= 7), libc6-dev, locales
Standards-Version: 3.8.3
Section: utils
Homepage: http://opensource.conformal.com/wiki/cyphertite

Package: cyphertite
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: High-security scalable solution for online backups
 Cyphertite is a high-security scalable solution for online backups.
  - Rock Solid: we safeguard your critical data like no other backup company
  - Total Privacy: your data is fully sheltered by our encryption process
  - Real Security: your data is protected, secure and always available, only to
    you
  - Super Efficient: deduplication and realm-wide deduplication before
    transmission
    accelerates back-ups, creating a more time- and cost-efficient work flow
  - No Hassle: Cyphertite was built to keep your life simple and easy with an
    intuitive and simple interface
  - Supports IPv4 and IPv6 seamlessly
