*.o
*.depend
*.po
*.a
*.exe
*.cat[1-9]
*.manlint
*~
ID
*.swp
*.diff*
*.core
*.gz
obj/
cyphertite/cyphertite
examples/remote_archive/remote_archive
examples/remote_extract/remote_extract
examples/remote_list/remote_list
examples/exists_ctfile/exists_ctfile
tags
ut/test_ct_fts/test_ct_fts
ut/test_ct_fts/testdir/
ut/test_ct_fts/testlog
