*.o
*.depend
*.po
*.a
*.cat[1-9]
*.manlint
ID
*.swp
*.diff*
*.core
*.gz
obj/
cyphertite/cyphertite
examples/remote_archive/remotearchive
examples/remote_extract/remoteextract
examples/remotelist/remotelist
